#storybook-docs  {
  background: var(--color-background-base);
  color: var(--color-foreground-default);
}

#storybook-docs .sbdocs {
  background: none;
}

#storybook-docs .sbdocs-title,
#storybook-docs h1,
#storybook-docs h2,
#storybook-docs h3,
#storybook-docs h4,
#storybook-docs h5,
#storybook-docs h6,
#storybook-docs th {
  color: var(--color-foreground-default);
}


#storybook-docs .docblock-argstable input,
#storybook-docs .docblock-argstable select,
#storybook-docs .docblock-argstable textarea {
  color: var(--color-foreground-default);
  background: var(--color-background-surface);
  box-shadow: color-mix(in srgb, var(--color-accessory-default) 25%, transparent) 0 0 0 1px inset;
}

/* preview */

#storybook-docs .sbdocs.sbdocs-preview {
  box-shadow: var(--color-accessory-default) 0 0 0 1px;
}

#storybook-docs .sbdocs.sbdocs-preview [role*="toolbar"] {
  box-shadow: var(--color-accessory-default) 0 0 0 1px;
  background: var(--color-background-base);
}

#storybook-docs .sbdocs.sbdocs-preview [role='toolbar'] a,
#storybook-docs .sbdocs.sbdocs-preview [role='toolbar'] button {
  color: var(--color-foreground-muted);
}

#storybook-docs .sbdocs.sbdocs-preview .docs-story + div {
  background: var(--color-background-elevated);
  box-shadow: var(--color-accessory-default) 0 0 0 1px;
}

#storybook-docs .sbdocs.sbdocs-preview .docs-story > :has(button) {
  background: none;
}

#storybook-docs .sbdocs.sbdocs-preview .docs-story button.docblock-code-toggle {
  color: var(--color-foreground-muted);
  background: var(--color-background-base);
  border-color: var(--color-accessory-default);
}

/* args table */

#storybook-docs .docblock-argstable tbody {
  box-shadow: var(--color-accessory-default) 0 0 0 1px;
  filter: none;
}

#storybook-docs .docblock-argstable tbody td {
  background: var(--color-background-base);
}

#storybook-docs .docblock-argstable tbody td span {
  color: var(--color-foreground-default);
  border-color: var(--color-accessory-default);
}

